@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.bgImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 1s linear;
}

h1{
    color: white;
    transition: all .5s ease-in-out;
}

.btu{
cursor: pointer;
}

.clicked{
    color: #8e44ad;
}    

.form,
.greetings{
    display: none;
}

.showing {
    display: block;
}
.js-toDoLise,
.js-title,
.js-greetings{
    color: white;
}